html {scroll-behavior: smooth;}


#link{
    /* text-decoration: none; */
    color: #107ce7;
    transition: .2s ease-in-out;
}
/* 
a:visited{
    color: #107ce7;

}
a:hover {
    color: #107ce7;
    

}

 */

 a:hover {
    color: #107ce7;
    transition: .2s ease-in-out;

}

#smalltxt{

    font-size: 0.8rem;
}

/* Smooth underline animation */
.nav-link {
    position: relative;
    display: inline-block;
}

.nav-link::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: #1773cf;
    transition: width 0.3s ease;
    -webkit-transition: width 0.3s ease;
}

.nav-link:hover::after {
    width: 100%;
    left: 0;
    background: #1773cf;
}